* {
    margin: 0;
    padding: 0;
}

body {
     font-family: "Poppins"
}

.section-1 h2 {
    font-size: 28px;
    color: rgb(0, 123, 82);
}

.section-1 {
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
    background-color: #effffe;
    flex-direction: column;
    gap: 10px;
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 50vw;
        height: 60vh;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 20% 0;
    width: 50%;
    height: 90%;

    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), /* Bottom shadow */
            0px -4px 8px rgba(0, 0, 0, 0.2), /* Top shadow */
            4px 0px 8px rgba(0, 0, 0, 0.2),  /* Right shadow */
            -4px 0px 8px rgba(0, 0, 0, 0.2); /* Left shadow */
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    border-radius: 20% 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), /* Bottom shadow */
    0px -4px 8px rgba(0, 0, 0, 0.2), /* Top shadow */
    4px 0px 8px rgba(0, 0, 0, 0.2),  /* Right shadow */
    -4px 0px 8px rgba(0, 0, 0, 0.2); /* Left shadow */
    padding: 10px;
    text-align: center;
}

.right-container img {
    width: 95%;
}

.left-container input 
{
    padding: 10px 13px ;
    border: none;
    text-align: start;
    box-shadow: 0px 4px 6px rgba(55, 55, 55, 0.6);
    margin: 10px 10px;
    
}

.left-container input:active {
    border: none;
}

.left-container input:focus {
    border: none;
}



.left-container ::placeholder {
     font-family: "Poppins";
    
}

button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'poppins';
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(0, 123, 82);
    color: #fff;
    
}

button:hover {
    transform: scale(0.9);
}
